@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar{
  appearance: none;
  display: none;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
}
nav {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
button {
  -webkit-tap-highlight-color: transparent;
}

/* Navigation bar */

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo img {
  width: 50px;
  height: 50px;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-links li {
  font-size: 13px;
  list-style: none;
  cursor: pointer;
  color: #007bff;
  transition: all 0.3s ease;
}
.nav-links li:hover {
  color: #0056b3;
}

/* Member Dialog */

#memberDialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  min-width: 100%;
  background-color: white;
  border: none;
  padding: 10px;
}
#closeDialog {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  align-self: flex-end;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 90%;
  outline: none;
  margin-bottom: 20px;
}
#closeDialog:hover {
  transform: rotate(90deg);
  scale: 1.2;
}
#memberDialog form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
#memberForm input {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#memberForm button {
  width: 100%;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.2s ease;
}
#memberForm button:hover {
  background-color: #0056b3;
}
#memberForm label {
  font-weight: bold;
}
#memberForm select {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* About Section  */

#about {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.abvp-question {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Admin Login Dialog */

#adminLoginDialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  min-width: 100%;
  background-color: white;
  border: none;
  padding: 10px;
}
#closeAdminDialog {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 90%;
  outline: none;
  margin-bottom: 20px;
}
#closeAdminDialog:hover {
  transform: rotate(90deg);
  scale: 1.2;
}
#adminLoginDialog form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
}
.adminInput {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#adminLoginForm button {
  width: 100%;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.2s ease;
  margin-top: 50px;
}
#adminLoginForm button:hover {
  background-color: #0056b3;
}
#adminLoginForm div {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}
#showPassword {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Admin Panel Dialog */

#adminPanelDialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  min-width: 100%;
  background-color: white;
  border: none;
  padding: 10px;
}
#closeAdminPanelDialog {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 90%;
  outline: none;
  margin-bottom: 20px;
}
#closeAdminPanelDialog:hover{
  transform: rotate(90deg);
  scale: 1.2;
}
table{
  margin-top: 30px;
  overflow: scroll;
}
th{
  font-weight: 600;
  text-align: left;
}
.serialNo{
  width: 60px;
  padding: 6px;
}
.tableName{
  padding: 6px;
  width: 250px;
  text-transform: lowercase;
}
.tableMobile{
  padding: 6px;
  width: 150px;
}
.tableSchool{
  padding: 6px;
  width: 300px;
}
.tableAddress{
  padding: 6px;
  width: 300px;
}

/* Image Container */

#imgContainer{
  width: 100%;
  height: 40%;
  background-color: black;
  overflow: hidden;
  display: flex;
}
#imgContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(min-width:950px){
  #imgContainer{
    height: 70%;
  }
}